body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

li {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: white;
}

.title-app {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.empty {
    font-family: 'Solway', serif;
    font-size: 25px;
}

.inp-box {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom-style: solid;
    border-bottom-width: medium;
    width: 200px;
    border-color: darkgrey;
}

    .inp-box:focus {
        border-color: cornflowerblue;
        transition: 0.4s linear;
    }

.srch-box {
    width: 600px;
}

.default-box {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: darkgrey;
}

.srch-btn {
    background: transparent;
    outline: 0;
    width: 50px;
}

.loader {
    visibility: hidden;
}

.img {
    width: 260px;
    height: 250px;
    margin-left:30px;
}

.error-msg {
    font-size: 14px;
    color: red;
}

label {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 18px;
}
.sbmt-btn {
    color: white;
    background-color: #7289DA;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    height: 50px;
    width:300px;
    float: right;
    padding-right:10px;
}
.measure {
    color: white;
    background-color: blue;
    border-radius: 12px;
    width: 50px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}
legend {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}
textarea{
    min-height:100px;
    max-height:100px;
    max-width:400px;
    min-width:400px;
    outline:none;
    border-color:darkgray;
}
.block {
    margin-top: 20px;
    margin-bottom: 50px;
}
.profile-image {
    border-radius:10px;
    background-color:darkgray;
}
.ninja {
    visibility: hidden;
    display:none;
}
.event-info {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: lighter;
}
.own-content {
    margin-top: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: azure;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 8px;
}
.title {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    margin-top:10px;
}
.btn {
    display:inline-block;
    align-content:center;
}
.display-block {
    margin-bottom:20px;
}

.view {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    background-color: azure;
}