@model List<TopGunLab_Practice3.Models.Product>

    <div class="container">

        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-4">
                        <div class="img-thumbnail">
                            @if (item.Logo != null)
                            {
                                <img src="~/Content/Images/product_img/@item.Logo" alt="Alternate Text" />
                            }
                            else
                            {
                                <img src="~/Content/Images/default/default_prod.png" alt="Alternate Text" />
                            }
                        </div>
                    </div>
                    <div class="col-7">

                    </div>
                </div>
            }
        }
        else
        {
            <div class="empty">
                <p>No result for "@Session["Param"]"</p>
                <span>Try checking your spelling or use more general terms</span>
            </div>
        }
    </div>
